*.o
*.cmi
*.cmx
*.annot
*.exe
*.err
*.out
*.toolbox
*.tlaps
*.log

/Makefile
/config.log
/config.status
/src/alexer.ml
/src/config.ml
/src/load.ml
/src/tlapm.native
# directories created when building the installer
/tlaps-*-x86_64-linux-gnu/
/tlaps-*-i386-darwin/
# generated installer files
/tools/installer/tlaps-*-x86_64-linux-gnu-inst.bin
/tools/installer/tlaps-*-i386-darwin-inst.bin
# generated release scripts
/tools/installer/tlaps-release.sh
/tools/installer/tlaps-source-release.sh
# `tlapm` binary
tlapm
# installation for testing,
# created by the installer
/test/bin/
/test/lib/
