*.o
*.cmi
*.cmx
*.annot
*.exe
*.err
*.out
*.toolbox
*.tlaps
*.log

/Makefile
/config.log
/config.status
/src/alexer.ml
/src/config.ml
/src/load.ml
/src/tlapm.native
/tools/installer/tlaps-release.sh
/tools/installer/tlaps-source-release.sh
tlapm

/test/bin/
/test/lib/
