*.c eol=lf
*.coz eol=lf
*.el eol=lf
*.guess eol=lf
*.html eol=lf
*.in eol=lf
*.js eol=lf
*.m4 eol=lf
*.md eol=lf
*.ml eol=lf
*.mli eol=lf
*.mll eol=lf
*.mlt eol=lf
*.mly eol=lf
*.ML eol=lf
*.pl eol=lf
*.py eol=lf
*.pxd eol=lf
*.pyx eol=lf
*.sh eol=lf
*.sml eol=lf
*.spec eol=lf
*.sty eol=lf
*.sub eol=lf
*.tex eol=lf
*.thy eol=lf
*.tla eol=lf
*.txt eol=lf
*.v eol=lf
*.yml eol=lf
*.znn eol=lf

* filter=trimWhitespace
