*.cm[iox]
*.o
*.annot
.*.aux
*.vo
*.glob
.config_var
.depend
zenon.bin
zenon.byt
zenon
*.output
parsecoq.ml
parsecoq.mli
parsetptp.ml
parsetptp.mli
parsezen.ml
parsezen.mli
lexcoq.ml
lextptp.ml
lexzen.ml
checksum.ml
config.ml
.svn
